In [3]:
import pandas as pd
import numpy as np
import gym
from collections import defaultdict

In [4]:
env = gym.make('Blackjack-v0')

In [6]:
def policy(state):
    return 0 if state[0] > 19 else 1

In [14]:
state = env.reset()
state

(21, 1, True)

In [15]:
policy(state)

0

In [18]:
def sample_episode(policy,num_steps=100):
    
    episodes =[]
    
    state = env.reset()
    
    for i in range(num_steps):
        action = policy(state)
        
        next_state , reward , done , _ = env.step(action)
        
        episodes.append((state,action,reward))
        
        if done:
            break 
        
        state = next_state 
    return episodes

In [21]:
sample_episode(policy)

[((19, 9, False), 1, -1.0)]

In [22]:
total_return = defaultdict(float)
N = defaultdict(int)

In [23]:
num =50000

In [25]:
for i in range(num):
    episode = sample_episode(policy)
    
    states, actions , rewards = zip(*episode)
    
    for i , state in enumerate(states):
        total = (sum(rewards[i:]))
        total_return[state] += total
        N[state] += 1

In [26]:
total_return = pd.DataFrame(total_return.items(),columns=['state','total_return'])

In [27]:
total_return.head()

             state  total_return
0               21          -1.0
1                1           0.0
2   (13, 6, False)        -264.0
3   (18, 6, False)        -387.0
4  (16, 10, False)       -1345.0