In [45]:
import gym
import numpy  as np
import random 
from collections import defaultdict as dd
import pandas as pd

In [2]:
env = gym.make('Blackjack-v0')

In [4]:
Q = dd(float)
N =dd(int)
total_return = dd(float)

In [31]:
def epsilon_greedy_policy(state,Q,epsilon=0.5):
    
    if random.uniform(0,1) < epsilon:
        return env.action_space.sample()
    else:
        return max(list(range(env.action_space.n)) , key = lambda x: Q[(state,x)])

In [32]:
state = env.reset()

In [33]:
policy = epsilon_greedy_policy

In [34]:
policy(state,Q)

0

In [39]:
def sample_episode(Q,num=100):
    
    episodes = []
    
    state = env.reset()
    
    for i in range(num):
        action = policy(state,Q)
        
        next_state,reward , done ,_ = env.step(action)
        episodes.append((state,action,reward))
        state = next_state 
        if done:
            break
    return episodes

In [27]:
num_iter = 5000

In [43]:
for v in range(num_iter):
    episode = sample_episode(Q)
    
    state_action = [(s,a) for (s,a,_)  in episode]
    rewards = [r for (_,_,r ) in episode ]
    
    
    for x,(state,action,reward) in enumerate(episode):
        
        if not (state,action) in state_action[0:x]:
            total = sum(rewards[x:])
            total_return[(state,action)] += total
            N[(state,action)] += 1
            
            
            Q[(state,action)] = total_return[(state,action)] / N[(state,action)]

In [47]:
df = pd.DataFrame(Q.items(),columns=['state_action','value'])

In [48]:
df.head()

          state_action     value
0   ((16, 4, True), 0) -1.000000
1   ((16, 4, True), 1) -0.125000
2  ((19, 9, False), 0)  0.450000
3  ((19, 9, False), 1) -0.777778
4   ((16, 5, True), 0)  0.000000